/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:wght@300..800&display=swap');

/* header start  */
header {
  background-color: black;
}
.sticky {
  margin-top: -1px;
  background-color: #1f1f1fbd;
}
.logo {
}
.logo h1 {
  font-family: OpenSans-Medium;
  font-weight: 700;
  color: white;
}
.logo span {
  color: #FFC61A;
}
.nav_c {
  padding: 1px 0;
}
.sticky .nav_c {
  padding: 10px 0;
}
.menu li {
  margin-right: 14px;
}
.menu li a {
  font-family: OpenSans-Medium;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

.menu li a:hover {
  color: #FFC61A;
}

/* header end  */

.banner {
  padding: 90px 0;
  background-color: #FFC61A;
}
.banner_item {
}
.btn_c {
  color: white;
  padding: 10px 30px;
  font-family: OpenSans-Medium;
  font-size: 18px;
  border: 0;
  border-radius: 30px;
  outline: 0;
  background-color: black;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}
.btn_c:hover {
  background-color: white;
  color: black;
}
.banner_text {
  margin-bottom: 10px;
}
.banner_text h1 {
  font-family: OpenSans-Medium;
  font-size: 45px;
  font-weight: 700;
  color: white;
}
.banner_text p {
  padding: 20px 60px 50px 0;
  color: black;
}

.banner_img {
}
.banner_img img {
  width: 100%;
}

/* banner end  */

/* about start  */
.about {
  padding: 90px 0;
  background-color: #ddd;
}
.about_img {
}
.about_img img {
  width: 100%;
}
.about_desc {
}
.about_desc h1 {
  font-family: OpenSans-Medium;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.about_desc p {
  margin: 20px 0 40px;
}
.about_desc p span {
  color: #FFC61A;
}
.btn_about {
  padding: 12px 30px;
  background-color: black;
  color: #FFC61A;
}
.btn_about:hover {
  background-color: #FFC61A;
  color: white;
}
/* about end  */

/* services start  */

.services{
  padding: 100px 0;

}
.p_service{
  background-color: #ddd;
}
.service_header h4,
h2 {
  font-family: ;
  font-weight: 700;
  text-transform: uppercase;
}
.service_header h4 {
  font-size: 24px;
  color: #FFC61A;
}
.service_header h2 {
  margin: 0 0 20px;
  font-size: 48px;
}
.service_item img {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}
.service_item img:hover {
  transform: scale(1.1);
}
.s_img img{
  width: 150px;

}
.service_item {
  margin-top: 30px;
  padding-right: 20px;
  text-align: center;
  border-right: 1px dotted gray;
}
.service_desc h5 {
  margin: 30px 0 10px;
  font-family: OpenSans-Medium;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.service_desc p {
  font-size: 16px;
}
.border_r {
  border-right: 0;
}
/* services end  */


/* pricing start  */
.pricing {
  padding: 100px 0 60px;
}
.price_item {
  padding: 20px 5px;
  min-height: 350px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}
.price_item:hover {
  box-shadow: 0px 0px 10px 0px rgba(184, 183, 183, 0.75);
}
.price_item img {
  width: 150px;
  margin: 0 auto;
}
.price_van {
  width: 115px !important;
}
.price_desc {
}
.price_desc h4 {
  margin: 0px 0 20px;
  font-family: OpenSans-Bold;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.price_desc p {
}
.price {
  margin-top: 20px;
  font-family: OpenSans-Medium;
  font-size: 30px;
  font-weight: 600;
}
.price_item_third {
  border: 2px solid #FFC61A;
  overflow: hidden;
}
.star_icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc61a;
  width: 90px;
  height: 90px;
  transform: rotate(45deg);
  right: -50px;
  top: -50px;
}
.star_icon i {
  position: absolute;
  left: 0;
  bottom: 5px;
  right: 5px;
  font-size: 18px;
  color: white;
}
/* pricing end  */

/* testmonial start */
.testimonial{
  overflow: hidden;
  padding: 60px 0 80px;
  font-family: "Inter", serif;

}
.card-item{
  width: 350px;
  display: block;
  background: #ddd;
  padding: 25px 25px 25px;
  border-radius: 12px;
  text-decoration: none;

}
.card-list{
  list-style: none;
}
.card-wrapper{
  padding-top: 50px;
}
.card-item  button{
  border: none;
  padding: 5px 20px;
  border: 1px solid #FFC61A;
  border-radius: 33px;
  margin-top: -10px;
 
  display: block;
}
.card-title{
  font-size: 20px;
  margin-top: 20px;
}
.badge{
  display: block;
  text-align: left;
  margin-left: -10px;
  font-size: 15px;
}
.card-image{
  border-radius: 10px;
  width: 100%;
  display: block;
}
.card-link2{
  text-decoration: none;
}
.card-item:hover{
  box-shadow: 0px 0px 10px 0px rgba(48, 25, 52, 0.9);

}
 .test_img img{
  display: block;
  text-align: right;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  
  float: right;


}
.swiper-button-next{
  top: 460px;

}
.swiper-button-prev{
    top: 460px;
}
.card-item button:hover{
  background: lightblue;
  color: black;
}
:root {
    --swiper-navigation-size: 22px;
}
element.style {
    width: 410.667px;
    margin-right: 0 important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 0);
    right: auto;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -1px);
    left: auto;
    bottom: 0;
}

/* footer start  */

.footer-Section{
  padding: 130px 0 10px;
}
footer {
  overflow: hidden;
  background-color: black;
}
.footer_text {
}
.footer_text h1,
.footer_text h4 {
  margin-bottom: 20px;
  font-family: FiraSansCondensed-Bold;
  font-weight: 700;
  color: white;
  /* text-transform: uppercase; */
}

.footer_text h1 span,
.footer_text h4 {
  color: #FFC61A;
}
.about_text {
  padding-right: 50px;
}
.about_text span {
  color: #FFC61A;
}
.footer_text p {
  color: white;
}
.footer_text ul {
  margin-left: -22px;
}
.footer_text ul li {
  margin-bottom: 10px;
  list-style: none;
}

.footer_text ul li a {
  color: white;
}
.footer_text ul li a:hover {
  color: #FFC61A;
}
.footer_text address {
}
.footer_icons a {
  margin-right: 10px;
}
.footer_icons a i {
  padding: 10px;
  color: black;
  background-color: #FFC61A;
  border-radius: 50px;
  transition: all 0.3s;
}
.footer_icons a i:hover {
  transform: scale(1.1);
  background-color: white;
  color: #FFC61A;
}

.form_subscribe {
  display: flex;
}
.form_subscribe input {
  width: 204px;
  padding: 10px 30px;
  outline: 0;
  border-top-left-radius: 10px;
  border: 0;
}
.form_subscribe input {
  padding: 10px 30px;
  outline: 0;
  border-top-left-radius: 10px;
  border: 0;
}

.form_subscribe button {
  background-color: #FFC61A;
  color: var(--white_color);
  border-radius: 0;
  border-bottom-right-radius: 10px;
  border-left: 1px solid white;
}
.form_subscribe button:hover {
  border-left: 1px solid #FFC61A;
}

.margin_b {
}
.margin_t {
}
/* copyright start  */
.copyright_text p {
  padding-bottom: 30px;
  color: white;
}
.copyright_text p a {
  color: #FFC61A;
}

/* copyright end  */
/* footer end  */



